.containers > h1{
    display: flex;
    justify-content: center;
    padding: 1px;
}
.containers > h2{
    border: 1px solid black;
    background-color: black;
    color:white;
}
p{
    text-align: center;
    padding: 2px;
    
}
.containers{

    flex-direction: column;
    align-items: stretch;
    justify-content: center;
    margin: auto 10px;
    background-color: rgba(28, 157, 243, 0.158);
    color:black;
    
    

  
}
.product{
    width: 250px;
    height: 200px;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
    
}
h2{
    text-decoration: solid;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: x-large;
    padding: 5px;
}
.price{
    text-align: center;
}
.Card{
    display: inline-flex;
    justify-content: space-around;
    padding: 1px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: x-large;
    margin-top: 10px;
    

}
div > h2{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: x-large;
}