header{
    background-color: black;
    color: white;
    display: flex;
    justify-content: start;
    margin: auto;

}
header > a{
    text-decoration: none;
    padding: 10px;
    color: white;
    
}
.Sign-Up {
    color: white;
    background-color: black;
    font-family: Georgia, 'Times New Roman', Times, serif;
}
.ok{
    color: white;
    background-color: black;
    text-decoration: none;

}
input[type=search]{
    margin-left: 66%;
    border: brown solid;
    border-radius: 10px;
}